<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.nihility.mybatis.mapper.DuplicateMapper">

    <select id="searchById" resultType="flower" parameterType="string">
        SELECT id, name_english, name_chinese, age, add_time, update_time
        FROM flower
        WHERE id = #{id}
    </select>

</mapper>
