<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <!-- 注意配置文件中各属性的位置
        properties?, settings?, typeAliases?, typeHandlers?,
        objectFactory?, objectWrapperFactory?, plugins?,
        environments?, databaseIdProvider?, mappers?
  -->

  <properties resource="mybatis/mysql.properties"/>

  <settings>
    <setting name="cacheEnabled" value="true"/>
    <setting name="lazyLoadingEnabled" value="true"/>
    <!-- 驼峰命名 -->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="jdbcTypeForNull" value="NULL"/>
  </settings>

  <typeAliases>
    <package name="cn.nihility.mybatis.entity"/>
  </typeAliases>

  <!--<plugins>
    <plugin interceptor="cn.nihility.mybatis.intercept.StatementInterceptPlugin">
      <property name="pluginProperty" value="100"/>
    </plugin>
  </plugins>-->

  <plugins>
    <plugin interceptor="cn.nihility.mybatis.intercept.MyExecutorInterceptPlugin"/>
    <plugin interceptor="cn.nihility.mybatis.intercept.MyParameterHandlerInterceptPlugin"/>
    <plugin interceptor="cn.nihility.mybatis.intercept.MyResultSetHandlerInterceptPlugin"/>
    <plugin interceptor="cn.nihility.mybatis.intercept.MyStatementHandlerInterceptPlugin"/>
  </plugins>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="mybatis/mapper/FlowerMapper.xml"/>
    <mapper resource="mybatis/mapper/FlowerMapper2.xml"/>
  </mappers>

</configuration>
