<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <!-- 配置全局属性 -->
  <settings>
    <!-- 延迟加载 -->
    <setting name="lazyLoadingEnabled" value="true"/>
    <setting name="aggressiveLazyLoading" value="false"/>
    <!-- 缓存开启 -->
    <setting name="cacheEnabled" value="true"/>
    <!-- 使用JDBC的GetGeneratedKeys 获取数据库自增键值 -->
    <setting name="useGeneratedKeys" value="false" />
    <!-- 使用列别名替换 默认 true SELECT name as title from tabel; -->
    <setting name="useColumnLabel" value="true" />
    <!-- 开启驼峰命名转换 -->
    <setting name="mapUnderscoreToCamelCase" value="true" />
    <!-- Mybatis 如何处理 null 空值 -->
    <setting name="jdbcTypeForNull" value="NULL"/>
  </settings>

</configuration>
